.tableHeaderbuttonStyle {
    /* Common styles for the button */
  }
  
  .enabledClass {
    color: black; /* Example of enabled style */
    cursor: pointer;
  }
  
  .disabledClass {
    color: gray; /* Example of disabled style */
    cursor: not-allowed;
    opacity: 0.5;
  }
  